<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- add tags for all the components -->
  <app-scenario1-component1></app-scenario1-component1>
  <hr/>
  <app-scenario2component1></app-scenario2component1>
  <hr/>
  <app-sc3-com1></app-sc3-com1>
  <hr/>
  <app-sc4-com1></app-sc4-com1>
  <hr/>
  <app-sc5-com1></app-sc5-com1>
  <hr/>
  <app-sc6-com1></app-sc6-com1>
</div>



<router-outlet></router-outlet>
